<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MCDataContextConnectionString" connectionString="User Id=UD;Password=sys;Server=XE;Connect Mode=Default;Home=oraclient11g_home1;Persist Security Info=True" />
        <add name="DataContext1ConnectionString" connectionString="User Id=ud;Password=sys;Server=XE;Home=oraclient11g_home2;Persist Security Info=True" />
        <add name="MCDomain.Properties.Settings.UD" connectionString="DATA SOURCE=XE;PASSWORD=mcdev;PERSIST SECURITY INFO=True;USER ID=MCDEV"
            providerName="Oracle.DataAccess.Client" />
        <add name="Model.McDataContextConnectionString" connectionString="User Id=UD;Password=sys;Server=XE;Connect Mode=Default;Home=oraclient11g_home1;Persist Security Info=True" />
        <add name="Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.Model.MCDataContextConnectionString"
            connectionString="User Id=ud;Password=sys;Server=XE;Home=oraclient11g_home3;Persist Security Info=True" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DailyInfoSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx"
                binding="basicHttpBinding" bindingConfiguration="DailyInfoSoap"
                contract="CBR.DailyInfoSoap" name="DailyInfoSoap" />
        </client>
    </system.serviceModel>
</configuration>